h1 {
    text-align: center;
}


.container {
    margin-left:100px;
    margin-right:100px;
}


.border-settings {
    border: 2px solid black;      
}

.text-allign-right {
    float:right;
    display:inline-block;
}

.text-allign-left {
    float:left;
    display:inline-block;
    margin-left:25px;
}

.text-allign-center {   
    text-align: center;        
}

.text-color {
    text-decoration-color: #5a92e7;
}

.bullets {
    text-emphasis-style: circle;
}

.border-fill {
    background-color:#b4a8a8;
}

.top-row {
    clear:both;
    margin-top:5px;
    margin-bottom:5px;
}

.bottom-row {
    clear:both;
}

.objectives {
    
    list-style-type: disc;
    color: #5a92e7;
}

.text-bold {
    font-weight: bold;
}

.before-spacing {
    width:160px;
}

.spacing {
    width: 200px;    
}