h1 {
    text-align: center;
}


.container {
    margin-left:100px;
    margin-right:100px;
}


.border-settings {
    border: 2px solid black;      
}

.text-allign-right {
    float:right;  
    display:inline-block;
}

.text-allign-left {
    float:left;
    display:inline-block;
}

.bullets {
    text-emphasis-style: circle;
}

.border-fill {
    background-color:#b4a8a8;
}

.row1 {
    clear:both;
    margin-top:5px;
    margin-bottom:5px;
}

.row2 {
    clear:both;
}

ul {
    list-style-type: disc;
}